//原始配色方案
$color1: #ff571a;
$color2: #a15bff;
$color3: #ffe67d;
$color4: #ff7a9c;
$color5: #007d78;

//新方案-主题色 清新
$color1-fresh: #ff7a9c;
$color2-fresh: #9eb9ff;
$color3-fresh: #d1eeb1;
$color4-fresh: #a15bff;
$color5-fresh: #7d4339;

