//原始配色方案
$color1: #ff571a;
$color2: rgba(255, 26, 41, 0.7);
$color3: #ffc70e;
$color4: #ff7a9c;
$color5: #ff196a;

//新方案-主题色 清新
$color1-fresh: #ff7a9c;
$color2-fresh: #9eb9ff;
$color3-fresh: #005d65;
$color4-fresh: #a15bff;
$color5-fresh: #7d4339;

